numpy==2.2.6
pydantic==2.11.5
PyMuPDF==1.27.1
openai==2.6.1
llama-index-core==0.14.14
llama-index-embeddings-clip==0.5.1
llama-index-workflows==2.14.1
httpx==0.27.0
httpcore==1.0.5
jiter==0.11.1
google-genai==1.31.0

llama-index-embeddings-huggingface==0.6.1
dashscope==1.24.0
Pillow==11.3.0
